body {
  margin: 0;
  padding: 0;
  background-image:url(../images/fond_bg1.jpg);
  background-repeat: repeat;
 font-family: 'Poppins', sans-serif;
}
/*header*/
/* vh= viewport height = hauteur relative vw= wiew width*/

header {
  width: 100%;
  background-image: url(../images/fond_zebre.jpg);
  background-size: cover;
}
header h1 {
font-family: 'Poppins', sans-serif;
  font-size: 3em;
  color: white;
  padding: 10px;
}
.titre {
  position: relative;
  width: 100%;
  top: 10vh;
  margin: auto;
  background-color: #311b92;
  text-align: center;
}
.titre p {
font-size: 2em;
color: #fff;
 
}
#logo {
  height: 50px;
  position: relative;
  padding: 25px;
  top: 10px;
}
#scene_accueil {
	margin: auto;
	padding-top: 80px;
	text-align: center;
	/*float:right;*/
	min-height:100px;
	overflow:auto;
	width:100%;
	clear:both;
}
#texte_accueil {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: 1em;
  padding-top : 20px;
  padding-left: 15%;
  padding-right: 15%;
}
/*menu*/
#menu {
	width:100%;
	overflow:hidden;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: rgba(252,147,147,0.4);
  z-index: 100;
}
nav a {
  color: #8b0000;
  text-decoration: none;

}
nav a:hover {
  color: #000;
}
nav ul {
  list-style: none;
  float: right;
}
nav li {
  display: inline;
  padding-right: 25px;
}

/*section*/
#section1 {
  background-color: #82ada9;
}
#section2 {
  background-color:rgba(0,0,0,0.2);
}
#section3 {
  background-color: #82b3c9;
}
#section4 {
  background-color: #C8E6C9;
}
.texte_section {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 5%;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #330066;
  border-bottom-color: #330066;
	
}
.img_section {
text-align: center;
margin: auto;
padding-top: 20px;
padding-bottom: 40px;

}

h2 {
font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: left;
  padding-top: 10px;
  font-variant: small-caps;
}

/*footer*/
footer {
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 20px;
}
#contact img {
  padding: 20px;
}

#fleche_retour {
  text-align: right;
  margin-right: 20px;
  bottom: 100px;
}
#mailto a {
  color:#000;
  font-weight: bold;
  text-decoration: none;
}



/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
	#scene_accueil img{
		/*width:30%;*/
		clear:none;
	}
	
}

/* max-width pour faibles résolutions */
@media screen and (max-width: 640px) {
	#menu a {
		display:block;
	}
	#menu li {
		float:none;
		width:100%;
	}
	#menu, nav a{
		clear:both;
		width:100%;
		color : #ffffff;
		font-weight: bold;
		background-color: rgba(252,147,147);
	}
	#scene_accueil img{
		clear:both;
		width:100%;
	}
}




